.imgItem {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}

.descrItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.descr-span {
  text-align: left;
  font-weight: 400;
}
